amcl:
  ros__parameters:
    use_sim_time: true
    scan_topic: scan

map_server:
  ros__parameters:
    use_sim_time: true
    yaml_filename: /home/luke/Projects/capstone/search-support-robots/ros-packages/robot_sim_bringup/maps/small_house/map.yaml

planner_server:
  ros__parameters:
    use_sim_time: true
    planner_plugins: ["GridBased"]
    GridBased:
      plugin: "nav2_navfn_planner::NavfnPlanner"

docking_server:
  ros__parameters:
    enabled: false

controller_server:
  ros__parameters:
    use_sim_time: true
    controller_plugins: ["FollowPath"]
    # topic_poly: "cmd_vel"
    FollowPath:
      plugin: "nav2_regulated_pure_pursuit_controller::RegulatedPurePursuitController"
      desired_linear_vel: 0.5
      lookahead_dist: 0.6
      min_lookahead_dist: 0.3
      max_lookahead_dist: 0.9
      lookahead_time: 1.5
      rotate_to_heading_angular_vel: 1.8
      transform_tolerance: 0.1

bt_navigator:
  ros__parameters:
    use_sim_time: true

global_costmap:
  global_costmap:
    ros__parameters:
      use_sim_time: true
      global_frame: map
      robot_base_frame: base_footprint
      resolution: 0.05
      robot_radius: 0.25
      plugins: ["static_layer", "obstacle_layer", "inflation_layer"]
      static_layer:
        plugin: "nav2_costmap_2d::StaticLayer"
        map_subscribe_transient_local: true
      obstacle_layer:
        plugin: "nav2_costmap_2d::ObstacleLayer"
        observation_sources: ["scan"]
        scan:
          topic: /scan
          min_obstacle_height: 0.15  # Ignore anything below 15cm (robot's own body)
          max_obstacle_height: 2.0
          clearing: true
          marking: true
      inflation_layer:
        plugin: "nav2_costmap_2d::InflationLayer"
        inflation_radius: 0.35

local_costmap:
  local_costmap:
    ros__parameters:
      use_sim_time: true
      # base_frame_id: "base_footprint"
      global_frame: odom
      robot_base_frame: base_footprint
      footprint_clearing_enabled: true
      rolling_window: true
      width: 6
      height: 6
      robot_radius: 0.25
      resolution: 0.05
      plugins: ["obstacle_layer", "inflation_layer"]
      obstacle_layer:
        plugin: "nav2_costmap_2d::ObstacleLayer"
        observation_sources: scan
        scan:
          topic: /scan
          min_obstacle_height: 0.15 
          max_obstacle_height: 2.0
          clearing: true
          marking: true
      inflation_layer:
        plugin: "nav2_costmap_2d::InflationLayer"
        inflation_radius: 0.35

# collision_monitor:
#   ros__parameters:
#     use_sim_time: true
#     base_frame_id: "base_footprint"
#     odom_frame_id: "odom"
#     cmd_vel_in_topic: "cmd_vel_nav"
#     cmd_vel_out_topic: "cmd_vel"
#     use_stamped_vel: true
#     state_topic: "collision_monitor_state"
#     footprint_clearing_enabled: true
#     transform_tolerance: 0.5
#     source_timeout: 5.0
#     base_shift_correction: true
#     stop_pub_timeout: 2.0
#     polygons: ["PolygonStop"]
#     PolygonStop:
#       type: "polygon"
#       action_type: "stop"
#       min_points: 10
#       visualize: true
#       polygon_pub_topic: "polygon_stop"
#       points: [0.25, 0.25, 0.25, -0.25, -0.25, -0.25, -0.25, 0.25]
#     observation_sources: ["scan"]
#     scan:
#       type: "scan"
#       topic: "/scan"

# collision_monitor:
#   ros__parameters:
#     enabled: false
#     use_sim_time: true

# lifecycle_manager_navigation:
#   ros__parameters:
#     use_sim_time: true
#     autostart: true
#     node_names: ['map_server', 'amcl', 'planner_server', 'controller_server', 'behavior_server', 'bt_navigator']

/**:
  ros__parameters:

    lifecycle_manager_navigation:
      autostart: true
      node_names:
        - map_server
        - amcl
        - planner_server
        - controller_server
        - behavior_server
        - bt_navigator

    collision_monitor:
      enabled: false


behavior_server:
  ros__parameters:
    use_sim_time: true
    local_frame: odom
    global_frame: map
    robot_base_frame: base_footprint
    transform_tolerance: 0.1
    behavior_plugins: ["spin", "backup", "wait"]
    spin:
      plugin: "nav2_behaviors::Spin"
    backup:
      plugin: "nav2_behaviors::BackUp"
    wait:
      plugin: "nav2_behaviors::Wait"