<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ibex">

    <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find robot_sim_bringup)/config/diff_drive_controller.yaml</parameters>
    </plugin>
    </gazebo>
    
        <gazebo>
        <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
            <render_engine>ogre2</render_engine>
        </plugin>
    </gazebo>

    <!-- <gazebo>
        <plugin filename="gz-sim-imu-system" name="gz::sim::systems::Imu">
        </plugin>
        <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
            <render_engine>ogre2</render_engine>
        </plugin>
    </gazebo> -->


    <gazebo reference="imu_link">
        <sensor name="imu_sensor" type="imu">
            <topic>imu/out</topic>
            <always_on>true</always_on>
            <update_rate>100</update_rate>

            <plugin filename="gz-sim-imu-system" name="gz::sim::systems::Imu"/>
        </sensor>
    </gazebo>

    <gazebo reference="laser_link">
        <sensor name="lidar" type="gpu_lidar">
        <always_on>true</always_on>
        <visualize>true</visualize>
        <topic>scan</topic>
        <update_rate>5</update_rate>
        <gz_frame_id>laser_link</gz_frame_id>
        <lidar>
            <scan>
            <horizontal>
                <samples>360</samples>
                <resolution>1.00000</resolution>
                <min_angle>0.000000</min_angle>
                <max_angle>6.280000</max_angle>
            </horizontal>
            </scan>
            <range>
            <min>0.120000</min>
            <max>12.0</max>
            <resolution>0.02</resolution>
            </range>
            <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.01</stddev>
            </noise>
        </lidar>
        </sensor>
    </gazebo>
    
</robot>
