<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ibex">

    <!-- Include the core physical robot definition (links, joints, inertia) -->
    <xacro:include filename="ibex_core.urdf.xacro" />
    
    <!-- Include the Gazebo simulation properties (plugins, friction, materials) -->
    <xacro:include filename="ibex_gazebo.urdf.xacro" />

    <xacro:include filename="ibex_ros2_control.urdf.xacro" />
    
</robot>